.bio-links {
  background: $backgroundColor;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .bio-link {
    background: transparent;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: var(--primary-color-light);
    }
  }
}
