*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $baseFont;
  background: $contentBackgroundColor;
  color: $textColor;
}

.content {
  margin: 0 auto;
  max-width: $maxContentWidth;
  padding: 0 1.1rem;

  main {
    margin-top: 2rem;

    .two-column-display {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * {
        padding: 1rem;
      }

      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }

    p {
      margin-top: 0.3em;
      margin-bottom: 0.9em;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem;
  background: $backgroundColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3px 10px lighten($backgroundColor, 10);

  p {
    margin: 0;
  }
}
