*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $baseFont;
  background: $contentBackgroundColor;
  color: var(--body-text-color);
}

html {
  background: $backgroundColor;
}

.content-wrapper {
  min-height: calc(100vh - 71px);
  margin-bottom: 20px;
}

.content {
  margin: 0 auto;
  max-width: $maxContentWidth;
  padding: 0 1.1rem;

  main {
    margin-top: 2rem;

    .two-column-display {
      display: grid;
      grid-template-columns: 1fr 1fr;

      > * {
        padding: 1rem;
      }

      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }

    p {
      margin-top: 0.3em;
      margin-bottom: 0.9em;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem;
  background: $backgroundColor;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -3px 10px lighten($backgroundColor, 10);

  p {
    background: transparent;
    margin: 0;
  }

  a {
    background: inherit;
  }

  ::after {
    content: '';
    position: relative;
    display: block;
    background: inherit;
    height: 3px;
    overflow: hidden;
  }
}
