.navbar {
  position: relative;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 -2px 10px var(--primary-color-dark), 0 5px 10px black;
  z-index: 100;

  a {
    text-decoration: none;
  }
}

.navbar-nav {
  margin: 0 auto;
  width: 100%;
  max-width: $maxContentWidth;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
  background: inherit;
}

.nav-item {
  position: relative;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 25%;
  color: var(--nav-text-color);
  background: inherit;
  transition: all var(--transition-time) ease-in-out;

  .collapse {
    text-align: left;
    position: absolute;
    top: 2.75rem;
    left: 0rem;
    transform: scaleY(0);
    overflow: hidden;
    transition: transform var(--transition-time) ease-out;
    transform-origin: top;
    width: 100%;
    box-shadow: 3px 3px 5px lighten($backgroundColor, 5);
  }
}

.nav-item:hover {
  color: var(--primary-color-light);
  background: $backgroundColor;

  .collapse {
    transform: scaleY(1);
  }
}

.nav-link {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-divider {
  margin: auto;
  width: 90%;
  height: 0;
  border-top: 1px solid #999;
}
