.news {
  h4 {
    margin-bottom: 0.7em;
  }

  ul {
    $articleBorder: 1px solid var(--accent-color);

    list-style: none;
    border-bottom: $articleBorder;

    .article {
      background: $backgroundColor;
      display: flex;
      flex-direction: column;
      border-top: $articleBorder;
      padding: 0.7rem 1rem;

      * {
        background: transparent;
      }

      .article-title {
        font-weight: bold;
        color: var(--primary-color-light);
        text-decoration: none;
      }

      .article-date-author,
      .article-preview {
        margin-left: 0.5rem;
        color: var(--body-text-color);
      }

      .article-date-author {
        color: var(--accent-color-dark);
        font-size: 0.9em;
        margin-bottom: 0.3em;
      }

      .article-link {
        text-decoration: underline;
        font-size: 0.9em;
        margin-left: auto;
      }
    }
  }
}
